@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nabla&display=swap');

body {
    background: rgb(86,18,91);
    background: linear-gradient(339deg, rgba(86,18,91,1) 0%, rgba(40,10,80,1) 100%);
    min-height: 100vh;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Nabla', cursive;
    text-align: center;
    margin-top: 70px;
    font-size: 6em;
}

.result-text {
    font-family: 'Nabla', cursive;
    font-size: 2em;
}